/* container */
*{
    box-sizing: border-box;
}
body{
    margin:0;
    
}
/* whole body */
.css-k1vhr4.egzxvld3{
    background-color: black;
    color: white!important;
}
/* navbar */
.css-18ni7ap.e8zbici2{
    background-color: black;
}
/* heading */
.css-10trblm.e16nr0p30{
    color: white;
}

/* small content */
.css-81oif8.effi0qh3{
    color: white!important;
}